#title {
    text-align: center;
    color: white;
}

body {
    background-image:url(space_background.jpeg);
}

#launch-list {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 80%;
    width: 550px;
}

#launch-image {
    height: 400px;
    width: 400px;
    border-width: 50px;
    border: gray;
    border-style: groove;
    border-radius: 50px;
    display: flex;
    position:relative;
    justify-content:center;
    margin-top: 10px;
    opacity:100;

    /* visibility: hidden; */
}

#launch-info {
    /* width: 200px; */
    align-content: center;
    text-align:center;
    /* text-justify: distribute; */
}

.launch-card {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    width: 450px;
    height: 700px;

    display: flex;
    flex-direction: column;
}

.launch-title {
    flex: auto;
} 